<div class="mb-sm q-text">
  <%= question.body %>
</div>

<% if question.answer.present? %>
  <div class="mb-sm text-dark-red q-text">
    <%= question.answer %>
  </div>
<% end %>


<div class="mb-sm text-sm">
  <%= question.tags.map { |tag| link_to tag.name, tag_path(tag) }.join(", ").html_safe %>
</div>

<div class="text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
    <% if question.author.present? %>
    <%= link_to display_nickname(question.author), user_path(question.author), class: "mr-sm" %>
    <% else %>
    <span>@Аноним</span>
    <% end %>
  </div>


  <% if question.user == current_user %>
    <div>
      <% edit_icon = (question.answer.present? ? 'pencil' : 'reply') %>
      <%= link_to fa_icon(edit_icon), edit_question_path(question), title: "Изменить вопрос", class: "mr-sm" %>
      <%= button_to fa_icon('trash-o'), question_path(question), method: :delete, title: 'Удалить вопрос', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "mr-sm" %>
      <% if question.hidden? %>
        <%= button_to fa_icon('eye'), hide_question_path(question), method: :put, title: "Сделать видимым" %>
      <% else %>
        <%= button_to fa_icon('eye-slash'), hide_question_path(question), method: :put, title: "Сделать скрытым" %>
      <% end %>
    </div>
  <% end %>
</div>
