<div class="container">
  <h2 class="title"><%= t(".log_in") %></h2>

  <p class="mt"><%= t(".info") %></p>

  <div class="mt">
    <%= form_with scope: :session, url: session_path, data: { turbo: false } do |form| %>
      <p><%= form.label :email %></p>
      <p><%= form.text_field :email, class: "form-text-field" %></p>

      <p class="mt"><%= form.label :password, t(".password") %></p>
      <p><%= form.password_field :password, class: "form-text-field" %></p>

      <p><%= form.submit t(".log_in"), class: "button button-main mt-lg" %></p>
    <% end %>
  </div>
</div>
