<div class="container">
  <h2 class="title"><%= t(".info") %></h2>

  <div class="mt">
    <p><%= image_tag @user.gravatar_url, title: "@#{@user.nickname}", class: "rounded" %></p>
    <p class="text-sm"><%= t(".info2") %><%= link_to "Gravatar", "https://gravatar.com" %> <%= t(".info3") %></p>
  </div>

  <% if @user.errors.any? %>
    <div class="mt">
      <% @user.errors.full_messages.each do |message| %>
        <p class="mb-sm text-red"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="mt">
    <%= form_with model: @user, data: { turbo: false } do |form| %>
      <p><%= form.label :name, t(".name") %></p>
      <p><%= form.text_field :name, class: "form-text-field" %></p>

      <p class="mt"><%= form.label :nickname, t(".nickname") %></p>
      <p><%= form.text_field :nickname, class: "form-text-field" %></p>

      <p class="mt-lg text-sm"><%= t(".password_info") %></p>

      <p class="mt"><%= form.label :password, t(".password") %></p>
      <p><%= form.password_field :password, class: "form-text-field" %></p>

      <p class="mt"><%= form.label :password_confirmation, t(".password_confirmation") %></p>
      <p><%= form.password_field :password_confirmation, class: "form-text-field" %></p>

      <p class="mt">
      <p class="mb"><%= form.label :color, t(".color") %></p>
      <span><%= form.color_field :color, class: "mr" %></span>

      <p class="mt-lg">
        <%= form.submit t(".save"), class: "button button-main" %>
        <span class="text-sm"><%= t(".or") %> <%= link_to t(".back"), :back %></span>
      </p>
    <% end %>
  </div>

  <div class="mt-lg">
    <%= button_to t(".delete"), user_path(@user),
                  method: :delete,
                  form: { data: { turbo_confirm: t(".confirmation") } },
                  class: "text-red text-sm" %>
  </div>
</div>
